
up.xcodeproj/project.xcworkspace/xcuserdata/joy.xcuserdatad/UserInterfaceState.xcuserstate

up.xcodeproj/project.xcworkspace/xcuserdata/joy.xcuserdatad/UserInterfaceState.xcuserstate

up.xcodeproj/xcuserdata/joy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

up.xcodeproj/xcuserdata/joy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate

up.xcodeproj/project.xcworkspace/xcuserdata/joy.xcuserdatad/UserInterfaceState.xcuserstate

up.xcodeproj/project.xcworkspace/xcuserdata/joy.xcuserdatad/UserInterfaceState.xcuserstate

up.xcodeproj/xcuserdata/joy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

up.xcodeproj/xcuserdata/joy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
